@page
@model SaborGregoNew.Pages.Pedido.CadastroPedidoModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Cadastro de Pedido</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="PedidoDto.ClienteId">Cliente</label>
        <select asp-for="PedidoDto.ClienteId" asp-items="Model.Clientes" class="form-control"></select>
    </div>
    <div class="form-group">
        <label>Produtos</label>
        <br />
        @foreach (var produto in Model.Produtos)
        {
            <input type="checkbox" name="PedidoDTO.ProdutosIds" value="@produto.Id" /> @produto.Nome
            <br />
        }
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
